@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu&display=swap');

#title {
    background-color: #ff4c68;
    color: whitesmoke;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.title h1 {
    font-size: 3rem;
    line-height: 1.5;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
}

.title-image {
    margin-top: 10%;
    transform: rotate(25deg);
    width: 60%;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar-brand, .navbar-collapse {
    font-size: 2rem;
}

.nav-item {
    margin-left: 25px;
}

.download-button {
    margin: 5% 0;
}

.download-apple-store {
    margin-right: 5px;
}

.download-google-play {
    margin-left: 5px;
}

.feature {
    padding: 15px;
    text-align: center;
}

.feature p {
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
    opacity: 50%;
}

.icon {
    color: #F47C7C;
}

.icon:hover {
    color: #D61C4E;
}

.download-buttons {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.download-button {
    flex-shrink: 0;
}

.nav-link {
    font-size: 1.5rem;
}

.testimonial {
    display: flex;
    flex-direction: column;
    padding: 10% 15%;
    text-align: center;
}

.testimonial img {
    width: 200px;
    margin: 20px auto;
}

.testimonial em {
    font-family: 'Ubuntu', sans-serif;
}

#testimonials {
    background-color: #F47C7C;
    color: whitesmoke;
}

#press {
    background-color: #F47C7C;
    text-align: center;
    padding-bottom: 5%;
}

#press img {
    width: 100px;
    margin: 0 5px;
}

#pricing {
    text-align: center;
    padding: 7% 5%;
    padding-top: 15%;
}

#pricing .row {
    margin-top: 5%;
}

.card {
    margin: 5% auto;
    min-width: fit-content;
    max-width: 400px;
    font-family: 'Ubuntu', sans-serif;
}

.card-header {
    font-weight: bolder;
}

.pricing-heading p {
    font-family: 'Ubuntu', sans-serif;
    opacity: 40%;
}

.card-body p {
    opacity: 60%;
}

.card .btn:hover {
    background-color: #D61C4E;
}

.dog-icon {
    color: black;
}

#cta {
    background: #ff4c68;
    text-align: center;
    padding: 5%;
    padding-bottom: 1%;
}

#cta h3 {
    font-size: 2.5rem;
    padding: 10px;
}

#footer {
    text-align: center;
    padding: 5%;
}

#footer i {
    color: black;
    margin: 10px;
}

#footer i:hover {
    color: #D61C4E;
}

#footer p {
    opacity: 60%;
    font-family: 'Ubuntu', sans-serif;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.btn:focus,
.btn:active,
.btn.active {
    outline: none;
    box-shadow: none;
}

@media (max-width:1028px) {
    .title-image {
        transform: rotate(0deg);
    }
    .title h1 {
        text-align: center;
    }
    .download-buttons {
        justify-content: center;
    }
    .container-fluid {
        padding: 3%;
    }
}

@media (min-width:1029px) {
    #title {
        height: 700px;
        overflow: hidden;
    }
}

@media (max-width:320px) {
    .download-buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .download-apple-store, .download-google-play {
        margin:5% 0;
    }
}

@media (min-width: 1920px) {
    #title {
        height: 1000px;
    }
}

@media (min-width: 2626px) {
    #title {
        height: auto;
    }
    .title-image {
        width: 35%;
    }
    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
